<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= locals.config.name %> • Login</title>
    <%- include('components/metas.ejs') %>
</head>

<body>
    <div class="login-container">
        <%- include('components/buttons.ejs') %>
        <form action="/authenticate" method="post">
            <% if (locals.errorCode == 0) { %>
                <p class="error">An error occurred while logging in. Please try again.</p>
            <% } else if (locals.errorCode == 1) { %>
                <p class="error">Invalid username or password.</p>
            <% } else if (locals.errorCode == 2) { %>
                <p class="error">Your auth token is invalid</p>
            <% } %>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>