<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= locals.config.name %> • New</title>
    <%- include('components/metas.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/6.0.1/autosize.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <form action="/save" method="post">
            <%- include('components/buttons.ejs') %>
            <div class="wrapper">
                <div class="line-numbers">&gt;</div>
                <textarea autofocus name="value"><%= locals.value %></textarea>
            </div>           
        </form>
    </div>
</body>

<script>autosize(document.querySelector('textarea'))</script>

</html>