<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= locals.config.app.name %> • Password</title>
    <%- include('_metas.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="password-container">
        <%- include('_buttons.ejs') %>
        <form action="/<%= locals.id %>/password" method="post">
            <h2>This document is password protected</h2>
            <% if (locals.error) { %>
                <p class="error">Incorrect password. Please try again.</p>
            <% } %>
            <input type="password" name="password" placeholder="Document's Password" id="password" required>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>