/*! General !*/
* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #002b36;
}

.wrapper {
    display: flex;
    padding: 1rem .5rem;
    font-size: 1rem;
}


/*! Code !*/
pre {
    display: flex;
    margin: 0;
}

#code-display {
    padding: 0 1rem;
}

.line-numbers {
    color: #7d7d7d;
    opacity: .9;
    text-align: end;
}

form {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
    padding: 0;
    margin-left: 1rem;
    color: #7d7d7d;
    border: none;
    outline: none;
    min-height: calc(100vh - 4rem);
}



/*! Buttons !*/
.buttons-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    opacity: .15;
    transition: opacity 200ms ease-in-out;
    background-color: #004f63;
    border-radius: 0 0 0 .5rem;
}

.buttons-wrapper:hover {
    opacity: 1;
}

/** Logo **/
.logo {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline-block;
    background-color: #003d4c;
    padding: 1rem;
}

.logo:hover {
    text-decoration: underline;
}


/** Buttons **/
.buttons {
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
}

.buttons>*+* {
    margin-left: .25rem;
}

.btn {
    cursor: pointer;
    background-color: #003d4c;
    border: 1px solid #002b36;
    color: white;
    border-radius: .25rem;
    padding: .25rem .5rem;
    transition: background-color 200ms ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #004f63;
}


/** Password **/
.password-wrapper {
    position: relative;
}

.password-input {
    display: none;
    position: absolute;
    top: 2.1rem;
    right: 0;
    background-color: #003d4c;
    border: 1px solid #002b36;
    padding: .25rem .5rem;
    color: white;
}

.password-wrapper:hover .password-input {
    display: block;
}

.password-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 100vh;
}

.password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    width: auto;
    background-color: #004f63;
}

.password-container form h2 {
    font-size: 1.5rem;
    color: #0090b5;
    margin: 0;
}

.password-container form .error {
    color: #b50000;
    font-size: 1.15rem;
    font-weight: bold;
    margin: 0;
}

.password-container form input {
    margin: .5rem 0;
    padding: .25rem .5rem;
    border: 1px solid #002b36;
    border-radius: .25rem;
    background-color: #003d4c;
    color: white;
    outline: none;
}

.password-container form input:focus {
    border-color: #0090b5;
}